.book-panel {
    border-radius: 3px;
}

.book-panel > div.row {
    margin-top: 20px;
    margin-bottom: none;
}

.book-panel > div > div > img {
    min-width: 40px;
    width: 65px;
}

.book-panel i {
    cursor: pointer;
}

form > div.input-field {
    margin-top: 30px;
}


/* .carousel.book-carousel {
    height: 700px;
} */

.carousel.book-carousel .carousel-item {
    height: 300px;
}

.carousel.cat-carousel {
    height: 700px;
}

.carousel.cat-carousel .carousel-item {
    height: 900px;
    width: 900px;
}

.carousel-item img {
    height: 100%;
    object-fit: contain;
}